.jumbotron{
    margin-top:auto;
    background-color: yellow;
    color: black;
    font-size: 50px;
     
}

footer{
    padding: 10px 10px 0 10px;
    background-color: yellow;
    margin-bottom: 0px;
    margin-top: 20px;
}

.tarjeta{
    flex: 1 150px;
    padding: 2px 5px 2px 5px;
    border: 2px;
    border-style: solid;
}

.btn-reserva{
    width: 100%;
    justify-content: space-between;

}

.footer-address-icon{
    padding-right: 10px;
}